.feedback-header::before {
    display: inline-block;
    margin-right: 10px;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.envelope-icon::before {
    width: 16px;
    height: 11px;
    background-image: url(../images/envelope.svg);
}

.mobile-icon::before {
    width: 10px;
    height: 15px;
    background-image: url(../images/mobile.svg);
}